<div class="mt-10 w-full overflow-hidden">
  <div className="w-full lg:w-9/10 xl:w-2/3 mx-auto px-4 pt-10 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-6 lg:grid-cols-2 overflow-hidden">
      <gallery-detail-product [productId]="productId"></gallery-detail-product>
      <product-info [productId]="productId"></product-info>
    </div>
  </div>

  <div class="mt-10 text-xl text-gray-500 font-semibold mx-10">
      Related items
  </div>
  <div class="w-full">
    <related-items [categoryId]="categoryId"></related-items>
  </div>
</div>
