<div class="2xl:flex justify-center 2xl:justify-end gap-6">
  <div class="w-[300px] place-self-center sm:w-[400px] h-[450px] border border-gray-300 rounded-xl overflow-hidden p-2">
    <div class="aspect-square h-[400px] sm:h-[500px] w-[300px] sm:w-[400px] sm:rounded-lg">
      <img [src]="detailProductImage" width="380px" height="auto" class="object-cover object-center" />
    </div>
  </div>
  <div class="flex 2xl:flex-col gap-4 mt-4 place-self-center">
    <div *ngFor="let item of product?.image">
      <div class="w-[80px] h-[100px] border border-gray-300 rounded-xl overflow-hidden cursor-pointer p-2">
        <img (click)="handleChangeImage(item.url)" [src]="item.url" class="" alt="image"
          width="70px" height="auto" fill />
      </div>
    </div>
  </div>
</div>