<div class="text-gray-700 mt-10 w-full mx-8 lg:mx-0">
  <div class="text-lg md:text-3xl mt-4 break-all">{{ product.name }}</div>
  <div
    class="flex flex-start mt-2 border-b-1 border-gray-300 pb-4 text-xl font-semibold text-gray-600"
  >
    {{ product.price | formatCurrency }}
  </div>

  <div class="flex flex-col gap-y-2 mt-2">
    <div class="flex gap-x-2">
      <h3 class="font-semibold">Size:</h3>
      <div class="">{{ product.size.name }}</div>
    </div>
    <div class="flex gap-x-2 items-center">
      <h3 class="font-semibold">Color:</h3>
      <div
        id="color"
        [style.background-color]="product.color.value"
        class="h-4 w-4 rounded-full mt-[2px] border border-gray-500"
      ></div>
      <div>{{ product.color.name }}</div>
    </div>
  </div>

  <div class="mt-10 w-[250px]">
    <button
      class="w-full hover:cursor-pointer"
      (click)="handleAddToCart(product)"
      ubButton
    >
      Add to cart
    </button>
  </div>
</div>
